<html>
<head>
    <title>Book</title>
</head>
<body>
    <form method="post">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="author" placeholder="Author" >
        <input type="text" name="description" placeholder="Description" >
        <input type="text" name="image" placeholder="Image" >
        <input type="text" name="price" placeholder="Price" >
        <input type="text" name="quantity" placeholder="Quantity" >
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>